.card-style-67 {
    background-color: rgb(218, 241, 246);
    height: 65vh;
    width: 90%;
    text-decoration: none;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
  .card-style-69 {
    background-color: rgb(226, 230, 232);
    height: 100%;
    width: 90%;
    text-decoration: none;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }