.leaflet-container {
    width: 80vw;
    height: 50vh;
  }
  
  .simpleMap {
    width: 80vw;
    height: 50vh;
    margin-top: -70px;
    background-color: white;
    border: 5px solid black;
  }
  
  #nothing {
    z-index: 10;
  }
  