.card-style-9 {
  background-color: rgb(226, 168, 216);
  height: 40vh;
  width: 100%;
  padding-top: 70px;
  overflow: hidden;
}

#home-bottom-container {
  overflow: hidden;
  /* border: 5px solid red; */
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

#management-home {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  /* border: 5px solid green; */
  top: 0;
  z-index: -1;
}
