.card-style-1 {
    background-color: rgb(218, 241, 246);
    height: 60vh;
    width: 50vh;
    text-decoration: none;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 1px 1px 25px rgba(20, 104, 160, 0.35);
    
  }
  .card-style-1 img {
    height:100%;
    width: 100%;
  
  
  }
  .card-style-2 {
    background-color: rgb(218, 241, 246);
    height: 30vh;
    width: 60vh;
    text-decoration: none;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 1px 1px 25px rgba(20, 104, 160, 0.35);
    
  }
  .card-style-2 img {
    height:100%;
    width: 100%;
  
  
  }
  
  .col-style-3 
  {
    
    width:80vh ;
    margin-left: 7%;
    margin-right: 7%;
     margin-top: 7%;
     margin-bottom: 7%;
     
  }
  .card-style-7 {
    box-shadow: 1px 1px 25px rgba(20, 104, 160, 0.35);
    
  }
  .card-style-13{
    background-color: rgb(218, 241, 246);
    height: 30vh;
    width: 30vh;
    text-decoration: none;
    margin-top: 1vh;
    margin-bottom: 6vh;
    margin-left: 1vh;
    margin-right: 1vh;
    
    
  }
  .form-style-17 {
    max-width: 450px;
    background: #f7fafb;
    padding: 30px;
    margin: 50px auto;
    border: 0.5px;
   
  }
  
  .card-style-6{
    height: 30%;
    width: 80%;
    border: 0px;
    margin-left: 7%;
    margin-right: 7%;
     margin-top: 7%;
     margin-bottom: 7%;
     box-shadow: 1px 1px 25px rgba(49, 149, 215, 0.35);
     border-radius: 10px;
  }
  .card-style-6 img{
    width:100%; height: 100%; 
  }
  