.card_container11 {
  align-self: center;
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px -5px;
  padding: 20px;
  border-radius: 20px;
}

.image_container11 > img {
  height: auto;
  max-height: 350px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.card_title11 > h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.card_text11 {
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}
.card_text11 div {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
}
.card_text11 p {
  margin: 0;
  padding: 0;
}

.card_owner11 {
  font-size: 140%;
}

.card_description11 {
  font-size: 80%;
}

.card_facilities11 > h3 {
  font-size: 120%;
}
.card_location11 > h3,
.card-activities > h3 {
  font-size: 120%;
}

.card-activities {
  font-size: 100%;
  margin-top: 10px;
}

.card_location11 {
  margin-top: 10px;
}
.card-activity-title:nth-child(even) {
  /* background-color: rgb(248, 248, 248); */
}
.card-activity-title:nth-child(odd) {
  /* background-color: rgb(121, 121, 121); */
}
