#edit-duration {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* border: 2px solid black; */
}
#edit-duration table {
  text-align: center;
  z-index: 1;
  width: 100%;
}
#edit-duration tr {
  display: block;
  padding-bottom: 0px;
}
#edit-duration td {
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
  color: black;
  display: block;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  /* background-color: rgb(65, 62, 62);
  color: white; */
  position: relative;
}

.increment5 {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.circular5 {
  border-radius: 50%;
  width: 33px;

  border: 1px solid rgb(117, 117, 117);
  font-weight: bold;
  margin-right: 20px;
  padding-bottom: 1px;
  background-color: white;
  color: rgb(108, 64, 64);
}

.circular5:hover {
  border: 1px solid black;
  color: black;
}
#count5 {
  display: inline-block;
  width: 40px;
  font-weight: normal;
  text-align: center;
  margin-left: -10px;
  margin-right: 10px;
}

#text-5 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

#edit-duration td:hover {
}
