* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.editHosting {
  background-color: rgb(185, 226, 227);
  background-color: rgb(219, 238, 241);
}

.editTitle {
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.div-title {
  height: 60px;
  width: 100%;
}

.div-photos {
  height: 400px;
  width: 100%;
}
.div-photos img {
  height: 300px;
  width: 300px;
}

.div-description {
  height: 200px;
  width: 100%;
}
