#middle7 {
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animation7 {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;

  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation: moveIn 2s;
  -webkit-animation: moveIn 2s;
  -moz-animation: moveIn 2s;
  -o-animation: moveIn 2s;
  -ms-animation: moveIn 2s;
}

#addPhoto7 {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;

  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

#dummy7 {
  height: 150px;
}

#upper7 {
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 10px;
  margin-right: -200px;
  padding-right: 200px;
  z-index: 20;
}

#dragPhoto7 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}
#smallText7 {
  margin-top: 0px;
  color: rgb(116, 116, 116);
  font-size: 120%;
}

#labelUploadPhoto7 {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 130px;
  height: 38px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(190, 190, 190);
}

#labelUploadPhoto7:hover {
}

#imageContainer7 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

#imageWrap7 {
  position: relative;
  align-self: flex-start;
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 200px;
  z-index: 1;
}
#close7 {
  position: absolute;
  top: 0px;
  right: 0;
  color: rgb(0, 0, 0);
  font-size: 150%;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  margin-top: -3px;
  width: 20px;
  border-bottom-left-radius: 5px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 90%;
}
#close7:hover {
  color: rgb(133, 0, 0);
  opacity: 100%;
}
#img7 {
  height: 200px;

  width: 100%;
  padding: 0;
  margin: 0;
}

#imgIconContainer7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border: 1px dashed black;
  margin-right: 5px;
  display: none;
}
#imgIconContainer7:hover {
  border: 2px solid black;
  cursor: pointer;
}
#imageIcon7 {
  width: 60px;
  height: 60px;
  opacity: 70%;
}

@media screen and (max-width: 1100px) {
  #imageContainer7 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  #imageWrap7 {
    align-self: flex-start;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 170px;
  }
  #img7 {
    height: 170px;
  }

  #imgIconContainer7 {
    height: 170px;
  }
}

@media screen and (max-width: 800px) {
  #imageContainer7 {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }

  #imageWrap7 {
    align-self: flex-start;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
  }
  #img7 {
    height: 300px;
  }

  #imgIconContainer7 {
    height: 300px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-o-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-ms-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
