* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#body {
  margin: 0px;
  padding: 0px;
  background-color: green;
  width: 100%;
}

#container {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: grid;

  background-color: rgb(255, 255, 255);
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0;
}

#left0 {
  height: 100%;
  width: 100%;

  background-color: rgb(141, 233, 236);
  background-image: linear-gradient(
    to bottom,
    rgb(217, 0, 116),
    rgb(153, 0, 130)
  );
  font-size: 40px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: cornsilk;
  padding-top: 10%;
}

#left00 {
  margin-top: 20%;
  font-size: 20px;
}

#left {
  height: 100%;
  width: 100%;

  background-color: rgb(141, 233, 236);
  background-image: linear-gradient(
    to bottom,
    rgb(217, 0, 116),
    rgb(153, 0, 130)
  );
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  color: cornsilk;
}

#right {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 100%;
  grid-template-rows: 11% 78% 11%;
  min-height: 400px;
}

#top {
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  height: 80px;
}

#middle {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

#bottom {
  z-index: 2;
  background-color: white;
  border-top: 1px solid rgb(155, 155, 155);
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  min-height: 70px;
  max-height: 90px;
  height: 80px;
}

#saveAndExit {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  max-height: 40px;
  min-height: 40px;
  cursor: pointer;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
}
#backButton {
  display: block;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  max-height: 40px;
  min-height: 40px;
  cursor: pointer;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-width: 85px;
}
#nextButton {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  max-height: 40px;
  min-height: 40px;
  cursor: pointer;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-width: 85px;
  max-width: 350px;
}

#disabledButtonWrapper {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  color: black;

  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1rem;
  max-height: 40px;
  min-height: 40px;
  cursor: not-allowed;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 85px;
}

#disabledNextButton {
  width: 100%;
  height: 40px;
  border: none;
  background: rgb(206, 209, 204);
  border-radius: 5px;
  opacity: 50%;

  pointer-events: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
}

#nextButton:hover {
  background-color: black;
  outline: 1px solid black;
}
#backButton:hover {
  background-color: black;
  outline: 1px solid black;
}
#saveAndExit:hover {
  background-color: black;
  outline: 1px solid black;
}

@media screen and (max-width: 800px) {
  #container {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: grid;

    background-color: rgb(255, 255, 255);
    grid-template-columns: 100%;
    grid-template-rows: 150px auto;
    gap: 0;
  }

  #left0 {
    font-size: 30px;
    padding-top: 0%;
  }
  #left00 {
    font-size: 20px;
    margin-top: 5%;
  }

  #right {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 100%;
    grid-template-rows: 0% auto 15%;
    min-height: 400px;
  }
  #top {
    height: 0px;
    border-bottom: none;
  }
  #saveAndExit {
    margin-top: -50px;
  }
}
