#body12,
#body13 {
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

#container12,
#container13 {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(201, 241, 248, 1);
}

#container13 {
  background-color: rgb(151, 67, 39);
}

#center12,
#center13 {
  opacity: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px -5px;
  width: 500px;
  height: 80%;
  min-width: 300px;
  max-width: 500px;
  min-height: 350px;
  max-height: 400px;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

#para12,
#para13 {
  margin-top: 5%;
}

#butt12,
#butt13 {
  margin-top: 10%;
  padding: 6px 20px 6px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(16, 96, 161);
  /* //background-image: linear-gradient(rgb(189, 255, 233), rgb(255, 194, 235)); */
  color: white;
}

#butt12:hover,
#butt13:hover {
  outline: 2px solid black;
}

@media screen and (max-width: 800px) {
  #center12 {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  #center12 {
    width: 300px;
    height: 400px;
  }
}
