#middle4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding-top: 0px;
  overflow-x: hidden;
}

#edit-location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: hidden;
  padding-top: 0px;
  overflow-x: hidden;
  height: 400px;
  width: 500px;
}

@media screen and (max-width: 800px) {
}

@keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-o-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-ms-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
