#middle-subcategory {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding-top: 30px;
  overflow-x: hidden;
}

#middle-subcategory table {
  z-index: 1;
  width: 90%;

  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation: moveIn 2s;
  -webkit-animation: moveIn 2s;
  -moz-animation: moveIn 2s;
  -o-animation: moveIn 2s;
  -ms-animation: moveIn 2s;
}

#subcategory-tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#subcategory-row {
  width: 30%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}

#middle-subcategory td {
  border: 1px solid rgb(197, 197, 197);
  padding: 0;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;

  /* background-color: rgb(65, 62, 62);
  color: white; */
}

#middle-subcategory td:hover {
  outline: 2px solid black;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
}

@keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-o-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@-ms-keyframes moveIn {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
